on:
  workflow_dispatch:
    inputs:
      tags:
        description: 'Test scenario tags'
        required: false
        type: string
      
jobs:
  log-the-inputs:
    runs-on: ubuntu-latest
    steps:
      - run: |
          echo "Tags: $TAGS"
          echo "Environment: $ENVIRONMENT"
        env:
          TAGS: ${{ inputs.tags }}
